@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;700&display=swap');

:root {
    --primary: #0d6efc;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.356);

}

body {
    font-family: Sora, "sans-serif";
    line-height: 1.7;
    color: var(--body);
    
}

h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
    
}

a {
    color: var(--dark);
    text-decoration: none;
}

.navbar {
    box-shadow: var(--box-shadow);
}

.logo {
    width: 260px;
    height: 70px;
}

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700;
}

.btn {
    padding: 7px 7px;
    border-width: 2px;
    border-radius: 2;

}

.hero {
    background-image: url(1cover.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;

}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    background-color: rgba(21, 20, 51, 0.096);
    z-index: -1;
    
}

section {
    padding-top: 120px;
    padding-bottom: 120;
}

.card-effect{
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 36px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: #fff;
    font-size: 38px;
    border-radius: 100px;
    flex: none;
}

.service {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.service::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: rgba(233, 125, 24, 0.863);
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;
}

.service:hover .iconbox {
    background-color: #fff;
    color: var(--primary);
}

.service:hover h5,
.service:hover p {
    color: #fff;
}

.service:hover::after {
    opacity: 1;
    top: 0;
}

.col-img {
    background-image: url(2cover.jpg);
    background-position: center;
    background-size: cover;
    min-height: 700px;

}

.board-member img {
    width: 125px;  
    height: 120px;
    border-radius: 100px;
}

form input.form-control {
    height:56px;
}

form .form-control {
    border: transparent;
   
    background-color: rgba(0, 0, 0, 0.02);
}

.footer-top {
    padding-bottom: 90px;
    padding-top: 60px;
    background-color: rgb(247, 155, 35);
}

.footer-top a {
    color: black;
}


.footer-top a:hover {
    color: white;
}